body{
  font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
a { color: rgb(0, 0, 0); }

.header {
  overflow: hidden;
  background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
  padding: 20px 10px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: rgb(255, 255, 255);
  color: black;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}

/*
#container{

    display: flex;
    width: ;
    top: 0;
    left:0;
}
*/

.site-footer
{
  background-color:#26272b;
  padding:5px  20px;
  font-size:15px;
  line-height:10px;
  color:#ffffff;
  text-decoration: none !important;
}
.copyright_link{
    color: rgb(107, 107, 107);
}
.class_info{
  display: flex;
  justify-content: space-between;
}
.site-footer img{
  width: 4%;
  display: block;
  margin-left: 0px;
  margin-right: 3px;
  display: inline-block;
  text-decoration: none !important;
   border:0px !important;
}
@media screen and (max-width: 700px) {
  .site-footer img{
    width: 10% !important;
  }
}
.copyright-text{
  color: white;
  text-decoration: none;
  display: inline-block;
}





.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}

@media screen and (max-height: 850px) {
  .site-footer{
    line-height: 18px;
  }
}