body{
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
}

* {
  box-sizing: border-box;
}



.main {
  max-width: 1000px;
  margin: auto;
}


.bilde_cont {
  margin: 8px -16px;
}

.bilde_cont,
.bilde_cont > .kort {
  padding: 8px;
}

.kort {
  float: left;
  width: 25%;
}

.bilde_cont:after {
  content: "";
  display: table;
  clear: both;
}

.innhold {
  background-color: white;
  padding: 10px;
}

@media screen and (max-width: 900px) {
  .kort {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .kort {
    width: 100%;
  }
}